.hobbies__container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

@media screen and (max-width: 460px) {
  .hobbies__container:last-child {
    flex-direction: row;
    justify-content: space-around;
  }
}
