.about__block-parrot {
  display: flex;
  flex-direction: row;
  position: relative;
  z-index: 1;
  margin-bottom: 40px;
}

@media screen and (max-width: 1000px) {
  .about__block-parrot {
    max-width: 1000px;
    margin-left: -40px;
  }
}

@media screen and (max-width: 500px) {
  .about__block-parrot {
    flex-direction: row-reverse;
    justify-content: flex-start;
    max-width: 320px;
  }
}
