.parrot:hover {
  transform: scale(1.3);
  transition: 3s;
  position: inherit;
}

.parrot:not(:hover) {
  transition: 3s;
}

@media screen and (max-width: 380px) {
  .parrot {
    width: 200px;
    height: 200px;
    margin-right: -40px;
    margin-top: 60px;
  }
}
